@import "base.css";
header{
    width: 3.75rem;
    height: 0.4rem;
    background: #336699;
    margin:0 auto;
    position: relative;
}
#mobile{
    position: absolute;
    background: url(../img/ap01.png)center no-repeat;
    background-position: 0px 0px;
    height: 0.29rem;
    width: 0.29rem;
    overflow: hidden;
    cursor: pointer;
    float: left;
    top: 0.04rem;
    left: 0.05rem;
}
header a{
    width: 0.7rem;
    height: 0.3rem;
    padding: 0 0.1rem;
    font-size: 0.14rem;
    color: #fff;
    float: right;
    margin-top: 0.1rem;
}
.tow{
    width: 100%;
    height: 0.32rem;
    background: #336699;
    margin-bottom: 0.06rem;
}
.x{
    width: 0.79rem;
    height: 0.32rem;
    background: #CC9966;
    font-size: .15rem;
    color: white;
    line-height: 0.32rem;
    text-align: center;
    float: left;
        margin: 0px 3px 0 0px;
}
.xx{
    background: #CC6666;
}
.xxx{
    background: #999966;
}
.me{
    width: 1.21rem;
    height: 0.32rem;
    background: white;
    text-align: center;
    line-height: 0.32rem;
    color: black;
    font-size: .15rem;
    float: left;
      margin: 0px 3px 0 0px;

}
.last{
    width: 100%;
    height: 5.87rem;
    /* background: red; */

}
.ke{
    width: 90%;
    height: 3.7rem;
    background: white;
    padding: 10px 5px;
}
.title{
    margin: 20px 0;
    font-size: 0.16rem;
    line-height: 1.5em;
    font-weight:800;
}

.fen{
    width: 100%;
    height: 1.2rem;
    /* background: red; */
}
.qw{
    width: 0.8rem;
    height: 0.24rem;
    margin-right: 6px;
    vertical-align: top;
    display: inline-block;
    font-size: 0.16rem;
    /* line-height: 1.5rem; */  
}
.lei{
    width: 100%;
    height: 1.4rem;
    background: white;
        margin-right: 6px;
}
.xue{
    width: 0.68rem;
    height: 0.24rem;
    /* background: red; */
    font-size: 0.14rem;
    color: blue;
    line-height: 0.24rem;
    text-align: left;
       display: inline-block;
       margin-bottom: 0.1rem;
}
.xue1{
    width: 1rem;
    height: 0.24rem;
    /* background: red; */
    font-size: 0.14rem;
    color: blue;
    line-height: 0.24rem;
    text-align: left;
       display: inline-block;
}
.z2{
    margin-right: 0.1rem;
}
.xue2{
    width: 1.4rem;
    height: 0.24rem;
    /* background: red; */
    font-size: 0.14rem;
    color: blue;
    line-height: 0.24rem;
    text-align: left;
       display: inline-block;
}
.gan{
    width: 100%;
    height: 0.24rem;
    /* background: red; */
}
.zuo{
    width: 1.1rem;
    height: 0.24rem;
    background: white;
    font-size: 0.14rem;
    color: black;
    font-weight: 800;
    float: left;
}
.jia{
    width: 1.12rem;
    height: 0.19rem;
    font-size: 0.14rem;
    color: blue;

}
.ta{
    width: 100%;
    height: 0.24rem;
    /* background: red; */
    font-size: 0.15rem;
    color: red;
    padding-top: 0.15rem;
}
